<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>


    <!--引入bootstrap.css文件-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <!--引入公共样式文件-->
    <link rel="stylesheet" href="css/common.css">

    <!--引入首页样式文件-->
    <link rel="stylesheet" href="css/user.css">

    <!--引入nprogress进度条插件.css文件-->
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
</head>
<body>

<!--侧边栏-->
<div class="lt-aside">
    <!--标题-->
    <div class="title">黑马19期</div>

    <!--用户-->
    <div class="user">
        <!--图片-->
        <img src="images/default.png" alt="">
        <!--描述-->
        <p>
            超级管理员
        </p>
    </div>


    <!--导航-->
    <div class="nav">
        <ul>
            <li><a class="current" href="user.html"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
            <li>
                <a href="javascript:;" class="categroy"><i class="glyphicon glyphicon-th-list"></i>分类管理</a>

                <!--二级菜单-->
                <div class="secondNav" style="display:none;">
                    <a href="firstCate.html">一级分类</a>
                    <a href="secondCate.html">二级分类</a>
                </div>
            </li>
            <li><a href="product.html"><i class="glyphicon glyphicon-tags"></i>商品管理</a></li>
        </ul>
    </div>

</div>


<!--主体-->

<div class="lt-content">
    <!--头部导航菜单-->
    <div class="topbar">
        <!--菜单栏-->
        <a class="menu pull-left"><i class="glyphicon glyphicon-align-justify"></i></a>

        <!--退出-->
        <a class="logout pull-right" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-off"></i></a>
    </div>

    <!--主题内容-->
    <div class="container-fluid">

        <!--路径导航-->
        <div class="breadNav">
            <ol class="breadcrumb">
                <li><a href="index.html">管理系统</a></li>
                <li><a class="active">用户管理</a></li>
            </ol>
        </div>
        
        
        
        
        <!--用户表格-->
        <table id="userTable" class="table table-bordered">
            <!--表格头-->
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="20%">用户名</th>
                    <th width="30%">手机号</th>
                    <th width="20%">状态</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            
            <!--表格体-->
            <tbody>
                <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>itcast</td>-->
                    <!--<td>15102324243</td>-->
                    <!--<td>正常</td>-->
                    <!--<td>-->
                        <!--<button class="btn btn-danger">-->
                            <!--禁用-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
            
            </tbody>
        </table>




        <!-- 分页 -->
        <div class="paging">
            <ul class="userPagenator"></ul>
        </div>

    </div>
</div>












































<!--模态框-->
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="color:#A94442;"><i class="glyphicon glyphicon-circle-arrow-right"></i>你确定禁用该用户吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="btn-isDelete"  type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>


<!--用户表格数据模板-->
<script type="text/html"  id="userTpl">

    {{ each rows v i}}

        <tr>
            <td>{{ i+1 + (page-1)*size }}</td>
            <td>{{ v.username }}</td>
            <td>{{ v.mobile }}</td>
            <td>{{ v.isDelete===1?"正常":"禁用" }}</td>
            <td data-userID="{{ v.id }}" data-userState="{{ v.isDelete }}">
                {{ if v.isDelete===1 }}
                    <button class="btn btn-danger btn-state" data-toggle="modal" data-target="#myModal">禁用</button>
                {{ /if }}

                {{ if v.isDelete===0 }}
                    <button class="btn btn-success btn-state" data-toggle="modal" data-target="#myModal">启用</button>
                {{ /if }}

            </td>
        </tr>


    {{ /each}}


</script>


<!--引入Jquery.js文件-->
<script src="lib/jquery/jquery.min.js"></script>
<!--引入bootstrap.js文件-->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--引入基于bootStrap的分页插件-->
<script src="lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>


<!--引入数据模板.js文件 独立的不依赖于其他库-->
<script src="lib/artTemplate/template-web.js"></script>

<!--引入common.js文件-->
<script src="js/common.js"></script>

<!--引入首页js文件-->
<script src="js/user.js"></script>

<!--引入nprogress进度条插件.js文件-->
<script src="lib/nprogress/nprogress.js"></script>


</body>
</html>